@require '../../style/vars.styl';

.variant-input-row
  margin-bottom 10px
  width $main-content-width

  &__input
  &__add-icon
    display inline-block
    vertical-align middle

  &__input
    width 230px
    height 24px
    font-size 18px
    font-weight 500
    border-radius 8px
    padding 5px
    -moz-appearance none
    -moz-box-shadow none
    -moz-border-radius none
    -moz-border-image none

  &__add-icon
    margin-left 10px
    height 26px
    width 26px
    border 1px solid white
    border-radius 50%
    background-image url("/images/plus.png")
    background-size cover
    background-color transparent
    cursor pointer
