scroll-container()
    overflow -moz-scrollbars-none
    -ms-overflow-style none
    scrollbar-width none
    overflow auto

    &::-webkit-scrollbar
        display none

    &::-moz-scrollbar
        width 0
        height 0
