$orange-red-l-r-gradient = linear-gradient(to right,#ff8a00,#da1b60);
//$orange-red-l-r-l-gradient = linear-gradient(to right, #da5935, #da6426 20%, #FF801B 45%, #FF801B 55%, #da6426 80%, #da5935);
$orange-red-l-r-l-gradient = linear-gradient(to right, #ec5b32, #e7692a 20%, #F77D1C 45%, #F97D1B 55%, #E46426 80%, #E06235);
$orange-red-b-t-gradient = linear-gradient(to top,#ff8a00,#da1b60);
$orange-red-t-b-gradient = linear-gradient(to bottom,#ff8a00,#da1b60);
$soft-black = #17141d;
$background-main-soft-grey = #f7f7f7;

$theme-background-color = #D6543E;
$theme-color = #3367D6;

$navigation-bar-height = 50px;
$main-content-width = 280px;
