$orange-red-l-r-gradient = linear-gradient(to right,#ff8a00,#da1b60);
$orange-red-t-b-gradient = linear-gradient(to top,#ff8a00,#da1b60);
$soft-black = #17141d;
$background-main-soft-grey = #f7f7f7;

$navigation-bar-height = 50px;
