@require './../../../style/mixins/trash-icon.styl';

.menu
    &-curtain
        &__list
            &-sublist
                &-item
                    padding-left 5px
                    margin-bottom 10px
                    display flex
                    justify-content space-between

                    &-name
                        font-size 18px
                        color #797979
                        cursor pointer
                        width calc(100% - 34px)

                    &-remove
                        margin-left 10px
                        //font-size 18px
                        height 22px
                        width 22px
                        color #797979
                        trash-icon()
