.generated-groups
    &-wrapper
        text-align left

.generated-group
    &-title
        font-size 18px
        color #565656
        margin-bottom 10px

    &-value
        margin-bottom 10px
        font-size 16px
